@import "../global/colors.scss";

.s-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    &__area {
        cursor: pointer;
        position: absolute;
        top: 0;
        z-index: 2;
        &_left {
            left: 0;
        }
        &_right {
            right: 0;
        }
    }
    &__gallery {
        display: flex;
        flex-direction: row;
        gap: 16px;
        width: 100vw;
    }
    &__item {
        position: relative;
        filter: brightness(40%);
        &_light {
            filter: none;
        }
    }
    &__arrow {
        position: absolute;
        //top: calc(50% - 16px);
        z-index: 2;
        &_right {
            right: calc((100vw - 1216px) / 2 - 16px * 3);
            @media (max-width: 1349px) {
                right: 10px;
            }
        }
        &_left {
            left: calc((100vw - 1216px) / 2 - 16px * 3);
            @media (max-width: 1349px) {
                left: 10px;
            }
        }
    }
}

.m-carousel {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    &__replacement {
        height: inherit;
        width: 20px;
    }
    &__gallery {
        max-width: 1216px;
        overflow: hidden;
        padding-top: 12px;
        @media (max-width: 1279px) {
            width: 100vw;
        }
        & ul {
            width: 9999px;
            transition-duration: 1s;
            & li {
                display: inline-block;
                margin-right: 24px;
            }
        }
    }
}

.arrow {
    height: inherit;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &__icon {
        color: $color-white-72;
        font-size: 32px;
        transition-duration: 0.2s;
        &:hover {
            color: $color-white;
        }
        &_hover {
            color: $color-white;
        }
        &:active {
            transform: scale(0.8);
        }
        &_active {
            transform: scale(0.8);
        }
    }
}
