.container {
    position: relative;
    z-index: 1;
}

.image {
    border-radius: 26px;
    width: 100vw;
    max-width: 1216px;
    @media (max-width: 599px) {
        height: 60vh;
        object-fit: cover;
    }
}

.description {
    width: calc(40% + 25.6px);
    position: absolute;
    bottom: 0;
    margin-bottom: 32px;
    margin-left: 32px;
    @media (max-width: 599px) {
        width: 90%;
        margin-bottom: 28px;
        text-align: center;
    }
}

.title {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    margin-bottom: 8px;
    @media (max-width: 1271px) {
        font-size: 40px;
        line-height: 44px;
    }
    @media (max-width: 919px) {
        font-size: 32px;
        line-height: 36px;
    }
    @media (max-width: 711px) {
        font-size: 28px;
        line-height: 32px;
    }
}

.synopsis {
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 24px;
    @media (max-width: 919px) {
        font-size: 13px;
        line-height: 18px;
    }
    @media (max-width: 599px) {
        font-size: 15px;
        line-height: 20px;
    }
}
