@import "../../global/colors.scss";
.creatorsList {
    width: 100%;
    margin-bottom: 8px;
    padding: 24px 12px;
    position: relative;
    color: $color-white;
    transition-duration: 0.4s;
    a {
        &:hover {
            text-decoration: underline;
        }
    }
    &_title {
        margin-bottom: 8px;
        width: 100%;
        min-height: 52px;
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        font-style: normal;
        color: $color-white;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &_carousel {
        display: flex;
        width: 100%;
        padding-top: 12px;
    }
}
