@import "../../global/colors.scss";
.container {
  width: 100%;
  margin-bottom: 8px;
  padding: 24px 12px;
  position: relative;
  color: $color-white;
  &_title {
    margin-bottom: 8px;
    width: 100%;
    min-height: 52px;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
    color: $color-white;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &_carousel {
    display: block;
    width: 100%;
    padding-top: 12px;
  }
}
